<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Package Details</title>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<div align="right" th:text="${session.isEmpty()} ? '' : 'Nice to see you again ' + ${session.user.username} "></div>
	
	<h1>Buy Service</h1>
	
	<div>
		<p>you can preselect an option with the selected attribute:</p>
		<form th:action="@{/GoToConfirmPage}" method="POST">
		    <fieldset>
		    	<p>Package service name: <span th:text="${singlepackage.name}"></span>
		    	<input type="hidden" name="idservicepackage" th:value="${singlepackage.id}">
		    	<p>
		    	
		    	<p>Services</p>
		    	<ul>
			    	<li th:each="s : ${singlepackage.services}">
			    		<span th:value="${s.id}" th:text="${s.name}"></span><br>
			    	</li>
		    	</ul>    
		       	<p>Validity Period</p> 
		       	<ul>
			       	<li th:each="pp : ${singlepackage.validityperiods}">
			       		<input type="radio" name="idvalidityperiod" th:value="${pp.key.id}" th:text="${pp.key.validityperiod + ' price: ' + pp.value + ' &#36' }" required><br> 
			       	</li>
		       	</ul> 
		        <p>Optional Product</p>
		        <ul>
			        <li th:each="op : ${singlepackage.optionalproducts}">
				        <input type="checkbox" name="idoptionalproducts" th:value="${op.id}" th:text="${op.name + ' price: ' + op.monthlyprice + ' &#36'}"><br>
			        </li>
		        </ul>
		        <p>Start Date: <input type="date" name="startdate" required></p><br>
		        <input type="submit" value="Confirm" />
		        <p th:text="${errorMsg}"></p>
		    </fieldset>      
		</form>
	</div>
</body>
</html>
