<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Package Details</title>
<link rel="stylesheet" type="text/css" media="all" href="css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<!--  
	<div align="right" th:text="${'Nice to see you again ' + session.user.username }"></div>
	
	 -->
	<div align="right" th:text="${session.isEmpty()} ? '' : 'Nice to see you again ' + ${session.user.username} "></div>
	
	<h1>Buy Service</h1>
	
	<div>
	<p>you can preselect an option with the selected attribute:</p>
	<form th:action="@{/GoToConfirmPage}" method="POST">
	<p th:text="${singlepackage.name}"></p>
    <fieldset>  
    	<p>Services</p>
    	<ul>
	    	<li th:each="s : ${singlepackage.services}">
	    		<input type="checkbox" name="service" th:value="${s.id}" th:text="${s.name}"><br>        
	        <br>
	    	</li>
    	</ul>    
       	<p>Validity Period</p> 
       	<ul>
	       	<li th:each="pp : ${singlepackage.validityperiods}">
	       		<input type="radio" name="validity" th:value="${pp.key.id}" th:text="${pp.key.validityperiod + ' price: ' + pp.value + ' &#36' }" required><br>         
	        <br>  
	       	</li>
       	</ul>
       
        <p>Optional Product</p> 
        <ul>
	        <li th:each="op : ${singlepackage.optionalproducts}">
		        <input type="checkbox" name="optional" th:value="${op.id}" th:text="${op.name + ' price: ' + op.monthlyprice + ' &#36'}"><br>         
	       		 <br>
	        </li>
        </ul>
        
        Start Date: <input type="date" name="startdate" required> <br>
        <input type="hidden" name="idsinglepackage" th:value="${singlepackage.id}">
        <input type="hidden" name="idsinglepackage" th:value="${singlepackage.name}">
        <br>  
        <input type="submit" value="CONFIRM" />   
        <p th:text="${errorMsg}"></p>   
    </fieldset>      
</form>
	
	</div>
</body>
</html>
