<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Confirmation</title>
</head>
<body>
	<th:block th:if="${session.user != null}">
		<div align="right">
			<a th:href="@{/Logout}">Logout</a>
		</div>
		<div align="right" th:text="${'Nice to see you again ' + session.user.username}"></div>
	</th:block>
	
	<h1>Service Package summary</h1>
	
	<div>
	
	<form method="POST">
    <fieldset> 
    	<th:block th:if="${order != null}">
	    	<p th:text="${'Service package: ' + order.servicepackage.name}"></p>
	    	<p>Services:</p>
	    	<ul>
		    	<li th:each="s : ${order.servicepackage.services}">
		    		<span th:value="${s.id}" th:text="${s.name}"></span><br>      
		        <br>
		    	</li>
	    	</ul>    
	       	<p>Validity Period:</p> 
	       	<ul>
		       	<li>
		       		<span th:value="${order.validityperiod.id}" th:text="${'Validity period: ' + order.validityperiod.validityperiod + ' price: ' + order.servicepackage.validityperiods.get(order.validityperiod) + ' &#36' }"></span><br>   
		        <br>
		       	</li>
	       	</ul>
	        <p>Optional Product:</p> 
	        <ul>
		        <li th:each="op : ${order.optionalproducts}">
			        <span th:value="${op.id}" th:text="${op.name + ' price: ' + op.monthlyprice + ' &#36'}"></span><br>     
		       		 <br>
		        </li>
	        </ul>
	        
	        <p>Start date:</p> 
	        <span th:value="${order.startdate}" th:text="${'date: ' + order.startdate}"></span><br>
	    	
	    	
	    	<p>Total value to be paid:</p> 
	        <span th:value="${order.totalvalue}" th:text="${order.totalvalue + ' &#36'}"></span><br><br>
	    
	    	<th:block th:if="${session.user != null}">
	        	<input type="submit" value="BUY OK" th:formaction="@{/CreateOrderOK}" />	        
	        	<input type="submit" value="BUY KO" th:formaction="@{/CreateOrderKO}"/>
	        </th:block>
	        <th:block th:if="${session.user == null}">
	        	<input type="submit" value="Login" th:formaction="@{/GoToLoginPage}"/>
	        </th:block>
       	</th:block>
        <p th:text="${errorMsg}"></p>
    </fieldset>      
</form>
	
	</div>
</body>
</html>
