<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Customer</title>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<!--  
	<div align="right" th:text="${'Nice to see you again ' + session.user.username }"></div>
	
	 -->
	<div align="right" th:text="${session.isEmpty()} ? '' : 'Nice to see you again ' + ${session.user.username} "></div>
	
	<h1>Home Customer</h1>
	
	<div>
	<table  border="1" cellspacing="0" cellpadding="5" width="200">
		<thead>
			<tr>
				<th>Packages</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="s : ${servicepackage}">
				<td th:text="${s.name}"></td>
				<td><a th:href="@{/GoToBuyServicePage(servicepackageid=${s.id})}">Buy</a></td>
				
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>

<!-- @{/GoToBuyPage(servicepackageid=${s.id})} -->