<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home employee</title>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<div align="right" th:text="${'Nice to see you again ' + session.user.username}"></div>
	<h1>Home Employee</h1>
	<div>
		<h2>Fill in the form to create a new optional product</h2>
		<form th:action="@{/CreateOptionalProduct}" method="POST">
			<fieldset>
				<p>
					Name: <input type="text" name="productname" required />
				</p>
				<p>
					Monthly cost: <input type="number" step="0.01"
						name="monthlycost" min="0.01" required />
				</p>
				<input type="submit" value="Create Product">
				<p th:text="${errorMsg1}"></p>
			</fieldset>
		</form>
	</div>
	<div>
		<h2>Fill in the form to create a new service package</h2>
		<form th:action="@{/CreateServicePackage}" method="POST">
			<fieldset>
				<p>
					Insert service package name:<br>
					<input type="text" name="productname" required />
				</p>
				<p>
					Select validity periods to offer and insert prices for each of them:<br>
					<span th:each="vp : ${validityperiods}">
						<input type="checkbox" name="idvalidityperiods" th:value="${vp.id}" th:text="${'Perdiod '+ vp.validityperiod +' months:'}">
						<input type="number" step="0.01" name="monthlycosts" min="0.01"/><br>
						<input type="hidden" name="idallvalidityperiods" th:value="${vp.id}">
					</span>
				</p>
				<p>
					Choose services to include (at least 1):<br>
					<input type="checkbox" name="idservices" th:each="s : ${services}" th:value="${s.id}" th:text="${s.name + '    '}"><br>
				</p>
				<p>
					Choose optional products to include:<br>
					<input type="checkbox" name="idoptionalproducts" th:each="op : ${optionalproducts}" th:value="${op.id}" th:text="${op.name+'    '}"><br>
				</p>
				<input type="submit" value="Create Package">
				<p th:text="${errorMsg2}"></p>
			</fieldset>
		</form>
	</div>
	<div>
		<h2>Sales report page</h2>
		<a th:href="@{/GoToSalesReportPage}"><button name="button">Go to sales report page</button></a>
	</div>	
</body>
</html>




