<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Customer</title>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<th:block th:if="${session.user != null}">
		<div align="right">
			<a th:href="@{/Logout}">Logout</a>
		</div>
		<div align="right" th:text="${'Nice to see you again ' + session.user.username}"></div>
	</th:block>
	<h1>Home Customer</h1>
	<th:block th:if="${!errorMsg.isEmpty()}">
		<p th:text="${errorMsg}"></p>
	</th:block>
	<div>
	<h2>Service Packages Offered By Telco</h2>
	<table>
		<thead>
			<tr>
				<th>Packages</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="s : ${servicepackages}">
				<td th:text="${s.name}"></td>
				<td><a th:href="@{/GoToBuyServicePage(servicepackageid=${s.id})}">Buy</a></td>
			</tr>
		</tbody>
	</table>
	</div>
	<th:block th:if="${session.user != null && rejectedorders != null}">
		<div>
		<h2>Rejected Orders To Be Payed</h2>
		<table>
			<thead>
				<tr>
					<th>Service Package Name</th>
					<th>Total value </th>
					<th>Date of Purchase </th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ro : ${rejectedorders}">
					<td th:text="${ro.servicepackage.name}"></td>
					<td th:text="${ro.totalvalue}"></td>
					<td th:text="${ro.datehour}"></td>
					<td>
						<input type="submit" value="Details" th:formaction="@{/GoToConfirmPage(orderid=${ro.id})}" /> 
		        	</td>
				</tr>
			</tbody>
		</table>
		</div>
	</th:block>
</body>
</html>
