<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Customer</title>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<th:block th:if="${session.user != null}">
		<div align="right">
			<a th:href="@{/Logout}">Logout</a>
		</div>
		<div align="right" th:text="${'Nice to see you again ' + ${session.user.username} "></div>
	</th:block>
	<h1>Home Customer</h1>
	<th:block th:if="${!errorMsg.isEmpty()}">
		<p th:text="${'ERROR: '+ errorMsg}"></p>
	</th:block>
	<div>
	<table>
		<thead>
			<tr>
				<th>Packages</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="s : ${servicepackages}">
				<td th:text="${s.name}"></td>
				<td><a th:href="@{/GoToBuyServicePage(servicepackageid=${s.id})}">Buy</a></td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>
