<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home employee</title>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<div align="right" th:text="${'Nice to see you again ' + session.user.username}"></div>
	<h1>Home Employee</h1>
	<div>
		<h2>Fill in the form to create a new optional product</h2>
		<form th:action="@{/CreateOptionalProduct}" method="POST">
			<fieldset>
				<p>
					Name: <input type="text" name="productname" required />
				</p>
				<p>
					Monthly cost: <input type="number" step="0.01"
						name="monthlycost" min=0 required />
				</p>
				<input type="submit" value="Create Product">
				<p th:text="${errorMsg}"></p>
			</fieldset>
		</form>
	</div>
	<div>
		<h2>Fill in the form to create a new service package</h2>
		<form th:action="@{/CreateServicePackage}" method="POST">
			<fieldset>
				<p>
					Name: <input type="text" name="productname" required />
				</p>
				<p>
					Monthly cost of service packages for different validity periods
					<span th:each="vp : ${validityperiods}">
						<input type="checkbox" name="idvalidityperiod" th:value="${vp.id}" th:text="${vp.validityperiod}">
						<span th:text="${'Period ' + vp.validityperiod + ': '}"></span>
						<input type="number" name="monthlycosts" min=6 max=100 />
					</span><br>
				</p>
				<p>
					Services included (at least 1):
					<input type="checkbox" name="idservices" th:each="s : ${services}" th:value="${s.id}" th:text="${s.type.type}" ><br>
				</p>
				<p>
					Optional products included:
					<input type="checkbox" name="idoptionalproducts" th:each="op : ${optionalproducts}" th:value="${op.id}" th:text="${op.name}" ><br>
				</p>
				<input type="submit" value="Create Package">
				<p th:text="${errorMsg}"></p>
			</fieldset>
		</form>
	</div>	
</body>
</html>