<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sales Report Page</title>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/HomeEmployee}">Home</a>
	</div>
	<div align="right" th:text="${'Nice to see you again ' + session.user.username}"></div>
	<h1>Sales Report Page</h1>
	<th:block th:if="${!errorMsg.isEmpty()}">
		<p th:text="${'ERROR: '+ errorMsg}"></p>
	</th:block>
	<!-- ONE -->
	<h2>Sales report for packages</h2>
	<table>
		<thead>
			<tr>
				<th>Package name</th>
				<th>Number of sales</th>
				<th>Total value of sales</th>
				<th>Total value of sales with products</th>
				<th>Average number of optional products per package</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="mvp : ${mvpackages}">
				<td th:text="${mvp.servicepackage.name}"></td>
				<td th:text="${mvp.sales}"></td>
				<td th:text="${mvp.value}"></td>
				<td th:text="${mvp.valuewithproducts}"></td>
				<td th:text="${mvp.avgoptionalproducts}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<!-- TWO -->
	<h2>Sales report for packages per period</h2>
	<table>
		<thead>
			<tr>
				<th>Package name</th>
				<th>Validity period</th>
				<th>Number of sales per period</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="mvpp : ${mvpackageperiods}">
				<td th:text="${mvpp.servicepackage.name}"></td>
				<td th:text="${mvpp.period}"></td>
				<td th:text="${mvpp.sales}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<!-- THREE -->
	<h2>Insolvent users</h2>
	<table>
		<thead>
			<tr>
				<th>User name</th>
				<th>Mail</th>
				<th>Failed Payment Count</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="mviu : ${mvinsolventusers}">
				<td th:text="${mviu.insolventuser.user.username}"></td>
				<td th:text="${mviu.insolventuser.user.mail}"></td>
				<td style="text-align:center" th:text="${mviu.insolventuser.failedpaymentcount}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<!-- FOUR -->
	<h2>Suspended orders</h2>
	<table>
		<thead>
			<tr>
				<th>User name</th>
				<th>Package name</th>
				<th>Validity period</th>
				<th>Total value</th>
				<th>Date of submission</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="mvso : ${mvsuspendedorders}">
				<td th:text="${mvso.suspendedorder.user.username}"></td>
				<td th:text="${mvso.suspendedorder.servicepackage.name}"></td>
				<td th:text="${mvso.suspendedorder.validityperiod.validityperiod + ' months'}"></td>
				<td th:text="${mvso.suspendedorder.totalvalue + ' &#36'}"></td>
				<td th:text="${#dates.format(mvso.suspendedorder.datehour, 'dd-MMM-yyyy HH:mm:ss')}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<!-- FIVE -->
	<h2>Active alerts</h2>
	<table>
		<thead>
			<tr>
				<th>User name</th>
				<th>Mail</th>
				<th>Amount</th>
				<th>Last rejection</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="mva : ${mvalerts}">
				<td th:text="${mva.insolventuser.user.username}"></td>
				<td th:text="${mva.insolventuser.user.mail}"></td>
				<td th:text="${mva.amount}"></td>
				<td th:text="${mva.lastrejection}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<!-- SIX-->
	<h2>Best seller optional product</h2>
	<table>
		<thead>
			<tr>
				<th>Optional product name</th>
				<th>Total value of sales</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="mvbp : ${mvbestproducts}">
				<td th:text="${mvbp.optionalproduct.name}"></td>
				<td th:text="${mvbp.value}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>